---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/react/Header";
import Parallax from "../components/react/Parallax";
---

<!DOCTYPE html>
<html lang="ja" class="bg-black text-white">
  <BaseHead title={"HOME"} />
  <body>
    <main class="relative mx-auto h-screen w-full max-w-3xl px-4">
      <Header client:load />
      <div
        id="hero"
        class="relative flex h-screen snap-center flex-col items-center justify-center"
      >
        <h1
          class="text-center font-display text-6xl font-extrabold text-primary-red shadow-lg md:text-[150px]"
        >
          BREAKING HUB
        </h1>
        <p class="text-center font-mono text-xl md:text-3xl">
          1分間で選手の情報をゲット。
        </p>
        <div class="arrows">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <Parallax client:load />

      <div
        class="relative flex h-screen snap-center flex-col items-center justify-center"
      >
        <ul class="flex flex-col gap-4 text-2xl">
          <li class="rounded-sm p-2 text-center hover:bg-primary-red">
            <a href="/ranking">ランキング</a>
          </li>
          <li class="rounded-sm p-2 text-center hover:bg-primary-red">
            <a href="/fighters">選手一覧</a>
          </li>
          <li class="rounded-sm p-2 text-center hover:bg-primary-red">
            <a href="/news">ブレイキングニュース</a>
          </li>
        </ul>
      </div>
    </main>

    <style>
      .arrows {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
      }

      .arrows span {
        display: block;
        border-bottom: solid #b40001 2px;
        border-right: solid #b40001 2px;
        height: 25px;
        width: 25px;
        transform: rotate(45deg);
        animation: scroll 2s infinite;
      }
      .arrows span:nth-child(2) {
        animation-delay: 0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
      }

      .arrows span:nth-child(3) {
        animation-delay: 0.4s;
      }

      @keyframes scroll {
        0% {
          opacity: 0;
          transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(45deg) translate(20px, 20px);
        }
      }
    </style>
  </body>
</html>
