---
const { result } = Astro.props;

console.log(result);
---

<td class="flex flex-row items-center justify-start gap-2">
  <span
    class="grid h-9 w-9 content-center rounded-lg bg-primary-red p-1 text-center text-xs font-bold"
  >
    {result}
  </span>
</td>
