---
const { src, alt } = Astro.props;
---

<div class="h-96 md:h-72">
  <div class="z-50 h-full overflow-hidden">
    <img src={src} alt={alt} class="z-40 mx-auto w-2/3 object-top grayscale" />
  </div>
</div>
